<?xml version="1.0"?>
<!--
/**
 * @category   Uafrica
 * @package    Uafrica_Customshipping
 * @author     Uafrica
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="uafrica_Customshipping" setup_version="1.0.0">
    </module>
</config>
