<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <!-- Define at least one minimal resource -->
            <resource id="Magento_Backend::admin">
                <!-- You can leave this empty if you don't want to define specific permissions -->
            </resource>
        </resources>
    </acl>
</config>
