<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <BobGroup_BobGo>
            <general>
                <debug>0</debug>
            </general>
        </BobGroup_BobGo>

        <carriers>
            <bobgo>
                <active>1</active>
                <price>0.00</price>
                <model>BobGroup\BobGo\Model\Carrier\BobGo</model>
                <name>Fixed</name>
                <title>Bob Go</title>
            </bobgo>
        </carriers>

    </default>
</config>
