<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <bobgo>
                <active>1</active>
                <title>Bob Go</title>
                <name>BobGo</name>
                <shipping_cost>5.00</shipping_cost>
                <sallowspecific>0</sallowspecific>
                <specificcountry></specificcountry>
                <showmethod>1</showmethod>
                <sort_order>15</sort_order>
                <model>BobGroup\BobGo\Model\Carrier\BobGo</model>
            </bobgo>
        </carriers>
    </default>
</config>
