<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="BobGroup\BobGo\Api\OrderMapperInterface" type="BobGroup\BobGo\Service\OrderMapper" />

    <type name="BobGroup\BobGo\Service\OrderMapper">
        <arguments>
            <argument name="productRepository" xsi:type="object">Magento\Catalog\Api\ProductRepositoryInterface</argument>
            <argument name="storeManager" xsi:type="object">Magento\Store\Model\StoreManagerInterface</argument>
            <argument name="scopeConfig" xsi:type="object">Magento\Framework\App\Config\ScopeConfigInterface</argument>
        </arguments>
    </type>
    <type name="Magento\Sales\Api\OrderRepositoryInterface">
        <plugin name="bobgo_order_repository_plugin" type="BobGroup\BobGo\Plugin\OrderRepositoryPlugin" sortOrder="20" />
    </type>
    <type name="Magento\Quote\Model\Quote\Address\ToOrderAddress">
        <plugin name="bobgo_to_order_address_suburb" type="BobGroup\BobGo\Plugin\Quote\ToOrderAddressPlugin" />
    </type>

    <type name="BobGroup\BobGo\Api\BobGoApiClient">
        <arguments>
            <argument name="curlFactory" xsi:type="object">Magento\Framework\HTTP\Client\CurlFactory</argument>
            <argument name="logger" xsi:type="object">Psr\Log\LoggerInterface</argument>
            <argument name="storeManager" xsi:type="object">Magento\Store\Model\StoreManagerInterface</argument>
        </arguments>
    </type>

    <type name="BobGroup\BobGo\Model\Carrier\BobGo">
        <arguments>
            <argument name="httpRequest" xsi:type="object">Magento\Framework\App\Request\Http</argument>
            <argument name="apiClient" xsi:type="object">BobGroup\BobGo\Api\BobGoApiClient</argument>
            <argument name="apiConfig" xsi:type="object">BobGroup\BobGo\Model\Config\ApiConfig</argument>
        </arguments>
    </type>
</config>
