<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_save_after">
        <observer name="bobgo_order_save_observer" instance="BobGroup\BobGo\Observer\OrderSaveObserver"/>
    </event>
    <event name="sales_order_place_before">
        <observer name="modify_shipping_description" instance="BobGroup\BobGo\Observer\ModifyShippingDescription"/>
    </event>

</config>
