# S3 Configuration
S3_PREFIX="/"
#S3_BUCKET="bobgo-s3-magento-plugin-dev"
S3_BUCKET="magento-plugin.dev.bobgo.co.za"
S3_REGION="af-south-1"

# Local Configuration
LOCAL_DIR="/home/bitnami/scripts/releases"
LOG_FILE="/home/bitnami/scripts/release_script.log"

# Magento Configuration
PLUGIN_DIR="/opt/bitnami/magento/app/code/BobGroup/BobGo"
MAGENTO_CLI="/opt/bitnami/magento/bin/magento-cli"
MAGENTO_CACHE="/opt/bitnami/magento/var/cache/"
PHP_BIN="/opt/bitnami/php/bin/php"
